html{
  height:100%;  
  background-image: linear-gradient(#679289,#F4C095);
  background-size:100%;
}
body{
  background-image: linear-gradient(#679289,#F4C095);
  background-size:cover;
  text-align: center;
  border: none;
  margin: 0px;
  padding: none;
}
div{
  margin: 20px;
}
header{
  margin-bottom: 20px;
  color: #F4C095;
  text-shadow:0 0 8px#071E22
}
a{
  color:#ee9b00;
  text-shadow: 0 0 7px #0a1c2b ;
}
#selfie{
  max-width: 250px;
  max-height: 250px;
  border: 10px solid #1D7874;
  transition: border-width .5s linear;
  border-image: linear-gradient(#F4C095, #679289)3;
  border-radius: 25px;
}
li{
  list-style-type: none;
}
#my-name{
  font-family: 'Press Start 2P', cursive, Arial, Helvetica, sans-serif;
  font-size: xx-large;
  
}
#art-job{
  font-family: 'Gloria Hallelujah', cursive, Arial, Helvetica, sans-serif;
  border: 24px solid #679289;
  border-style:groove;
  border-radius: 45px;
  max-width: 60%;
  text-align: center;
  transition: border-width .5s linear;
  margin:auto;
  padding: 20px;
}
#pizza-job{
  font-family: 'Hanalei Fill', cursive, Arial, Helvetica, sans-serif;
  border: 24px solid #679289;
  border-style:double;
  border-radius: 45px;
  box-shadow: 0 0 2px#071E22;
  max-width: 60%;
  text-align: center;
  transition: border-width .5s linear;
  margin:auto;
  padding: 20px;
}
p{
  font-family:'Press Start 2P', cursive, Arial, Helvetica, sans-serif;
  font-size: small;
}
#ig-btn{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 900;
  cursor: pointer;
  box-shadow: 0 0 4px #cfe0c3 ;
  color: #071E22;
  background-color: rgb(241, 234, 132);
  border:3px solid #679289;
  border-radius: 100%;
  margin-top: 5px;
  margin-bottom: 100px;
  padding: 20px;
}
